:root {
    --color-brend:#819B57;
    --color-brend-dark:#465929;
    --color-primary-light:#FAF4EA;
    --color-primary-dark:#31261A;
    --color-primari-braun:#A18268;
}
/* base */
body{
    color: var(--color-primary-dark);
}
ul{
    list-style-type: none;
}
/* button */
.button {
    color: var(--color-primary-light);
    background: var(--color-brend);
    border: 2px solid var(--color-brend);
    border-radius: 8px;
    cursor: pointer;
}
.button:hover {
    color: var(--color-brend-dark);
    background-color: transparent;
}
/* links */
.link {
    color: var(--color-primary-light);
}
.link:hover {
    color: var(--color-brend);
}
/* hero secton */
.hero-title {
    color: var(--color-primary-light);
}
.hero-title .accent {
    color: var(--color-brend);
}
/* avanteges section */
.advantages-list {
    color: var(--color-primary-light);
    background-color: var(--color-brend);
}
.section-title {
   color: var(--color-primary-dark); 
}
.section-title .accent{
    color: var(--color-brend-dark);
}
.tekst-accent{
    color: var(--color-brend);
}
.article-title{
    color: var(--color-primary-light);
}
.article-tekst{
    color: var(--color-primary-light);
}
.form-title{
    color: var(--color-brend-dark);
}
.copy{
    color: var(--color-primari-braun);
}